<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-6">
<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @goal.deadline %>
</p>
</div>
<div class="col-md-6">
 <div class="table-responsive">
 <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
  	<thead>
  	<tr>
  	<th>S.N
  	</th>
  	<th> Milestone </th>
  	<th>Status
  	</th>
    <th>
    </th>
  	<tr>
  	</thead>
  	<% @goal.milestones.each_with_index do |m,i| %>
  		
  	
  	<tr><td><%= i+1 %> </td>
  	<td><%= m.title %>  </td>
  	<td>
    <%if(m.completed) %>
    <span> Completed </span>
  	<%else %> 
<span> Incomplete</span>
  	<%end%> 
  	 </td>
     <td>
     <input type="checkbox" />
     </td>
  	</tr>
  	<%  end %>
  	<tbody>
  		
  	</tbody>
  </table>
</div>
</div>
<div class="row">
<div class="col-md-6">
<h3>List of Notes </h3>
<ul class="list-group">
<% @goal.notes.each_with_index do |n,i| %>
 
  <li class="list-group-item"><%= i+1 %>. <%= n.comment %>
  <a href="<%= n.attachment.url  if n.attachment? %>" target="_blank"><%= n.attachment_identifier  if n.attachment? %> </a>
<!--   <%= image_tag n.attachment.url if n.attachment? %> -->
   </li>
 <%  end %>

</ul>
</div>
<div class="col-md-6">
<%= render 'comment', note: @note, goal: @goal %>
</div>
</div>
</div>

<p>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %> </p>
